<div class="row mx-5 mt-4">
  <div class="col">
    <div class="d-flex flex-column">
      <div class="d-flex justify-content-between">
        <label for="ot">Número de OT </label>
        <input class="w-75 text-left" type="text" id="ot" />
      </div>
      <br />
      <div id="ot" class="dropdown">
        <label for="tipo">Tipo OT:</label>
        <button
          class="btn btn-secondary m-2 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ datoOt }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a
              (click)="clickOt('Mantenimiento Preventivo')"
              class="dropdown-item"
              >Mantenimiento Preventivo</a
            >
          </li>
          <li>
            <a
              (click)="clickOt('Mantenimiento Correctivo')"
              class="dropdown-item"
              >Mantenimiento Correctivo</a
            >
          </li>
          <li>
            <a
              (click)="clickOt('Mantenimiento Proactivo')"
              class="dropdown-item"
              >Mantenimiento Proactivo</a
            >
          </li>
          <li>
            <a
              (click)="clickOt('Mantenimiento Predictivo')"
              class="dropdown-item"
              >Mantenimiento Predictivo</a
            >
          </li>
        </ul>
      </div>
      <br />
      <div id="ot" class="dropdown">
        <label for="tipo">Prioridad:</label>
        <button
          class="btn btn-secondary m-2 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ prioridad }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a (click)="clickPrioridad('Alta')" class="dropdown-item">Alta</a>
          </li>
          <li>
            <a (click)="clickPrioridad('Media')" class="dropdown-item">Media</a>
          </li>
          <li>
            <a (click)="clickPrioridad('Baja')" class="dropdown-item">Baja</a>
          </li>
        </ul>
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <label for="mantener">Mantener:</label>
        <input class="w-75 text-left" id="mantener" type="text" />
      </div>
      <br />
      <div class="d-flex justify-content-between">
        <label for="equipo">Equipo:</label>
        <input class="w-75" id="equipo" type="text" />
      </div>
      <br />
      <br />
      <div class="d-flex justify-content-between">
        <label for="cls">Clase Equipo:</label>
        <input class="w-75" id="cls" type="text" />
      </div>
      <br />
      <br />
      <div class="d-flex justify-content-between">
        <label for="ubication">Ubicación:</label>
        <input class="w-75" id="ubication" type="text" />
      </div>
      <br />
      <div id="cuenta" class="dropdown">
        <label for="tipo">Cuenta:</label>
        <button
          class="btn btn-secondary m-2 dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ tipoCuenta }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <a
              (click)="
                clickTipoCuentaInterna(
                  'Mantenimiento a la red interna en cobre'
                )
              "
              class="dropdown-item"
              >Mantenimiento a la red interna en cobre</a
            >
          </li>
          <li>
            <a
              (click)="
                clickTipoCuentaInterna('Mantenimiento a la red interna coaxiál')
              "
              class="dropdown-item"
              >Mantenimiento a la red interna coaxiál</a
            >
          </li>
          <li>
            <a
              (click)="
                clickTipoCuentaInterna(
                  'Mantenimiento a la red interna en fibra'
                )
              "
              class="dropdown-item"
              >Mantenimiento de red interna en fibra</a
            >
          </li>

          <li>
            <a
              (click)="
                clickTipoCuentaExterna(
                  'Mantenimiento a la red externa en cobre'
                )
              "
              class="dropdown-item"
              >Mantenimiento a la red externa en cobre</a
            >
          </li>
          <li>
            <a
              (click)="
                clickTipoCuentaExterna(
                  'Mantenimiento a la red externa en coaxiál'
                )
              "
              class="dropdown-item"
              >Mantenimiento a la red externa coaxiál</a
            >
          </li>
          <li>
            <a
              (click)="
                clickTipoCuentaExterna(
                  'Mantenimiento a la red externa en fibra'
                )
              "
              class="dropdown-item"
              >Mantenimiento de red externa en fibra</a
            >
          </li>
        </ul>
      </div>
    </div>
    <br />
  </div>
  <div class="col">
    <div class="d-flex justify-content-between">
      <label for="estado">Estado:</label>
      <input [(ngModel)]="fechaPaso" class="w-75" id="estado" type="text" />
    </div>
    <div class="d-flex justify-content-start mt-2">
      <label for="datefin" style="margin-right: 130px">Fecha objetivo</label>
      <nz-date-picker
        [(ngModel)]="dateObject"
        (ngModelChange)="onChangeObject($event)"
      ></nz-date-picker>
      <!-- datepicker -->
    </div>
    <div class="d-flex justify-content-between m-2">
      <label for="dateinit">Fecha Planif</label>
      <nz-date-picker
        [(ngModel)]="datePlanif"
        (ngModelChange)="onChangePlanif($event)"
      ></nz-date-picker>

      <label for="days">Dias:</label>
      <input [(ngModel)]="estadoFecha" type="text" id="days" />
    </div>
    <div class="d-flex justify-content-between">
      <label for="sitio">Sitio:</label>
      <input class="w-75" id="sitio" type="text" />
    </div>
    <div class="d-flex justify-content-between mt-2">
      <label for="tipo">Tipo de equipo::</label>
      <input class="w-75" id="tipo" type="text" />
    </div>
  </div>
  <!-- Fin primera parte -->
  <div class="d-flex flex-column">
    <h1>Tarea</h1>
    <div class="d-flex justify-content-start">
      <label for="restarea" style="margin-right: 10px"
        >Resumen de la tarea:
      </label>
      <input class="w-25" type="text" id="restarea" />
    </div>
    <br />
    <div id="ot" class="dropdown">
      <label for="tiposub">Tipo Subcito:</label>
      <button
        class="btn btn-secondary m-2 dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ tipoSubs }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let dato of datosSubs">
          <a (click)="clickTipoSubscrito(dato)" class="dropdown-item">
            {{ dato }}
          </a>
        </li>
      </ul>
    </div>
    <br />
    <div id="ot" class="dropdown">
      <label for="cuentatarea">Cuenta Tarea:</label>
      <button
        class="btn btn-secondary m-2 dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ cuentaTarea }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <a (click)="clickCuentaTarea('Instalación')" class="dropdown-item"
            >Instalación</a
          >
        </li>
        <li>
          <a (click)="clickCuentaTarea('Verificación')" class="dropdown-item"
            >Verificación</a
          >
        </li>
        <li>
          <a (click)="clickCuentaTarea('Mantenimiento')" class="dropdown-item"
            >Mantenimiento</a
          >
        </li>
      </ul>
    </div>
    <div class="d-flex justify-content-start">
      <label for="desde" style="margin-right: 10px">Desde proced: </label>
      <input class="w-25" type="text" id="desde" />
    </div>
    <div style="height: 200px"></div>
  </div>
</div>
